body {
    font-family: Arial, sans-serif;
    /*background-color: #ffffff;*/
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 10px;
    color: black;
    /*background-color: black;*/
    min-height: 100vh;
    background-color: hsl(0, 0%, 95%);
    background-image: url('cloud.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


.BOX{
  text-align: left;
  width: auto;
  background-color: hsla(0, 0%, 15%, 0);
  padding: 20px;
  padding-top: 10px;
  width: 90%;
  max-width: 600px;
  overflow: hidden;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  #calculator {
      width: 90%; /* Adjust as needed for smaller screens */
  }
}

.todolink {
  margin-left: 15px;
}

.container2 {
  display: inline-block;
  width: 100%; /* Each container takes 50% width */
  padding: 5px; /* Add some padding for spacing */
  font-size: small;
}


.image {
    opacity: 1;/* Add any specific styling for the image */
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}

input {  
    padding: 5px;
    margin-bottom: 0px;
    border: 2px ridge gray;
    border-radius: 5px;
    margin-left: 0px;
    font-size: small;
    background-color: white;
  }

button {
padding: 3px 10px;
margin-left: 7px;
opacity: 1;
background-color:white;
color: black;
border:gray solid 2px;
cursor: pointer;
border-radius: 6px;
}

button:hover {
    background-color:  gray;
    border: black solid 2px;
    color: black;
}

.container {
  align-items: center;
  margin-left: 0px;
  margin-bottom: 20px;
  padding-left: 0px;
}

.small-text {
    font-size: smaller; /* You can adjust the size as needed */
    margin-top: 8px;
  }
  
  /* Define CSS styles for table borders and cell sizing */
  table {
    display: none; /* Initially hide the table */
    border-collapse: collapse; /* Collapse border spacing */
    table-layout: auto; /* Allow cells to size based on content */
  }

  
  td {
    /*border: 2px ridge white; /* Add 1px solid black border to table, th, and td elements */
    padding: 4px; /* Add padding to table cells */
    width: 120px; /* Set a fixed width for the table cells */
    text-align: left; /* Center align the content within cells */
  }
  
  /* Style for even rows */
  th {
    padding: 4px;
    /*border: 2px ridge white; /* Add 1px solid black border to table, th, and td elements */
    text-align: left; /* Center align the content within cells */
    font-size: small;
    
  }

#checkboxWrapper{
  margin-bottom: 10px;
}

.checkboxLabel {
  display: none;
  margin-top: 0;
  margin-left: 0px;
  margin-bottom: 9px;
  opacity: 0.7;
  font-size: medium;
}

#resultsHeading {
  margin-bottom: 5px;
  margin-top: 20px;
  margin-left: 0px;
}

#resultsHeading2 {
  margin-bottom: 5px;
  margin-left: 0px;
}

.scotland {
  color:black;
  font-size: small;
}


.row1:hover {
  background-color: lightgray;
  color: black;
}

#datetime {
  font-size: 12px;
  color: black;
  opacity: 0.7;
}

#myCheckbox, #myCheckbox2,#myCheckbox3,#myCheckbox4{
 margin-left: 0px;
}

#closeButton{
  display: none; /* Initially hide the table */
  margin-left: 0px;
  margin-bottom: 20px;
}
